# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/ipch
/Debug
/*.sdf
/SloongDemo/Debug
/SloongEngine/Debug
/SloongLua/Debug
/SloongLua/*.user
/SloongDemo/*.log
/*.suo
/SloongGraphic/Debug
/SloongMath/Debug
/*.vsp
/SloongUniversal/Debug
*.log
*.tlog
*.idb
*.pdb
*.tli
*.ilk
Debug
*.suo
*.db
*.opendb
